
body { 
    background: #e61414;
}

/* Cabeçalho */ 
header{

    /* cor de fundo = background */
    background-color:#fca38d;
    width: 100%; /* Largura */ 
    height: 30%; /* Altura */
}

h1 {
    font-size: 90px ;
    text-align: center; /* Centralizar texto */
    background-color: black; /* Cor de fundo */ 
    color: aliceblue; /* Cor do Texto */ 
}